.mobile-nav {
    display: none;
}


@media screen and (max-width: 1024px) {

    .mobile-nav {
        display: flex;        
    }

    .mobile-nav ul li a {
        font-size: smaller;
        font-weight: 500;
    }

    .mobile-nav ul li .active-links.active {
        color: #495e57
    }
}