.res-content-wrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)), url("https://a.cdn-hotels.com/gdcs/production141/d778/6b200721-9661-4680-aca2-d6e33ce46cf0.jpg");
    width: 100%;
    background-size: cover;
}

.res-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
    width: 85%;
    margin: 0px auto;
    padding: 80px 0;
}

.text {
    margin-top: 100px;
    color: #fff;
    width: 60%;
}

.text h2 {
    margin-bottom: 30px;
}

.text p {
    margin-bottom: 20px;
}

.form {
    width: 40%;
    height: auto;
    background-color: #fff;
    color: #333333;
    border-radius: 10px;
    padding: 30px 40px 50px;
    text-align: left;
}

.form h1 {
    font-size: 24pt;
    margin-bottom: 7px;
}

.form p {
    font-size: smaller;
    margin-bottom: 30px;
}


fieldset {
    border: none;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    font-size: 18px;
    margin: 0 0 5px 0px;
    font-weight: 500;
}

input {
    padding: 10px;
    border: 1px solid rgba(51,51,51,0.3);
    border-radius: 5px;
    width: 100%;
}

input[type=datetime-local] {
    color: #949494
}

.guestsdate {
    display: grid;
    grid-template-columns: 68% 28%;
    gap: 4%;
}

.occasion {
    display: flex;
    flex-direction: column;
}

.options {
    padding-right: 10px;
    border: 1px solid rgba(51,51,51,0.3);
    border-radius: 5px;
}

select {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #949494;
}

.reserve-btn {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color:#fff;
}

.reserve-btn:hover {
    background-color: #495e57;
    transition: 0.3s;
}

.error-message {
    font-size: 15px;
    color: red;
    margin-top: 5px;
}



@media screen and (max-width: 1024px) {
    .res-content-container {
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .text {
        width: 100%;
        margin-top: 50px;
    }

    .text p {
        margin-bottom: 0;
    }

    .form {
        width: 100%;
        margin-top: -50px
    }

    .guestsdate {
        display: flex;
        flex-direction: column;
    }
}