.res-content-wrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)), url("https://a.cdn-hotels.com/gdcs/production141/d778/6b200721-9661-4680-aca2-d6e33ce46cf0.jpg");
    width: 100%;
    background-size: cover;
}

.res-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
    width: 85%;
    margin: 0px auto;
    padding: 80px 0;
}

.text {
    margin-top: 100px;
    color: #fff;
    width: 60%;
}

.text h2 {
    margin-bottom: 30px;
}

.text p {
    margin-bottom: 20px;
}



.form {
    width: 40%;
    height: 600px;
    background-color: #fff;
    color: #333333;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
}

.form h1 {
    font-size: 24pt;
    margin-bottom: 10px;
}

.form p {
    font-size: smaller;
    margin-bottom: 30px;
}

fieldset {
    border: none;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1px solid rgba(51,51,51,0.3);
    border-radius: 5px;
}

.guests {
    font-size:15px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(51,51,51,0.3);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

.guests input {
    border: none;
    width: 20%;
    padding: 0;
    margin: 0;
}

.guests input:focus, select:focus {
    outline: none !important;
}

select {
    width: 100%;
    border: none;
    font-size:15px;
    color: #333333;
}

select option {
    width: 100%;
}

.reserve-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #f4ce14;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color:#333;
}

.reserve-btn:hover {
    color: #f4ce14;
    background-color: #333;
    transition: 0.3s;
}



@media screen and (max-width: 1024px) {
    .res-content-container {
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .text {
        width: 100%;
        margin-top: 50px;
    }

    .text p {
        margin-bottom: 0;
    }

    .form {
        width: 100%;
        margin-top: -50px
    }
}