.specials-section-container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.specials-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    padding: 15px 45px;
}


@media screen and (max-width: 1040px) {
    .specials-section-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .specials-section-title {
        flex-direction: column;
        align-items:flex-start;
    }
}

@media screen and (max-width: 1040px) {
    .specials-section-title h1 {
        line-height: 0.8;
        margin: 30px 0;
        font-size: 50px;
    }

    .btn-menu {
        margin-bottom: 30px;
        font-size: smaller;
    }
}